/*------------------------------------------------*/
/*	Skin: Slate Gray
/*------------------------------------------------*/
/* general */
a {
  color: #708090;
}
a:hover, a:focus {
  color: #55616e;
}

.top-bar {
  background-color: #708090;
}
.top-bar .top-bar-right .btn-link {
  color: #e3e6e9;
}
.top-bar .top-bar-right .btn-link:hover {
  color: #fff;
}
.top-bar .notifications .count {
  border-color: #708090;
}
.top-bar .searchbox input[type="search"] {
  background-color: #4e5a65;
  border-color: #4e5a65;
}
.top-bar .searchbox .btn {
  background-color: #7e8d9b;
  border-color: #4e5a65;
}
.top-bar .searchbox .btn i {
  color: #4e5a65;
}
.top-bar .searchbox .btn:hover {
  border-color: #4e5a65;
}
.top-bar .searchbox .btn:hover i {
  color: #434d57;
}

/* widget */
.widget {
  border-color: #9ba6b1;
}
.widget .widget-header {
  background-color: #708090;
  border-bottom-color: #657382;
  color: #fff;
}
.widget .widget-header em {
  color: #fff;
}
.widget .widget-header .btn-help {
  color: #a9b3bd;
}
.widget .widget-header .widget-header-toolbar {
  border-left-color: #697888;
}
.widget .widget-header .widget-header-toolbar .control-title {
  color: #fff;
}
.widget .widget-header .btn-group > a {
  color: #fff;
}
.widget .widget-header .btn-group > a:hover, .widget .widget-header .btn-group > a:focus {
  color: #a0b3c6;
}

/* main content */
.main-header h2 {
  color: #5e6c79;
  border-right-color: #9ba6b1;
}
.main-header em {
  color: #798897;
}

/* footer */
.footer {
  background-color: #708090;
}
