body {
  background: #fff;
  width: 100%;
  font-size: 10px;
  margin: 40px;
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 20px;
}


table
{
  max-width: 100%;
  /*border: 1px solid;*/
}

.center,
td.center
{
  text-align: center;
  min-height: 200px;
}

td {
  width: 270px !important;
  /*height: 100px!important;*/
}

.price
{
  font-size: 45px;
}
  .title
  {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
  }

  .rupiah {
    text-align: left !important;
    padding-left: 20px  !important;
  }

  .tanggal{
    text-align: right;
    padding-right: 20px;
  }


@media print{

  body{
    background-color: #fff!important;
    margin: 0;
    padding-top: 10px;
    box-shadow: 0;
    font-size: 12px!important;
  }

  .title
  {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
  }

  table
  {
    max-width: 100%;
    /*border: 1px solid;*/
  }

  tr, td {
    text-align: center;
  }

  .tanggal{
    text-align: right;
    padding-right: 20px;
  }


}
